{% extends 'main/base.html' %}

    {% block content %}
   <!-- latest_coures_area_start  -->
<div data-scroll-index='1' class="admission_area" xmlns="http://www.w3.org/1999/html">
        <div class="admission_inner">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-7">
                        <div class="admission_form">
                            <h3>Add page</h3>
                            <form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single_input">
                                            <div class="form-error">{{ form.non_field_errors }}</div>
                                        {% for f in form %}
                                            <!--input type="text" placeholder={{f}}-->
                                            {{ f }}
                                            <div class="form-error">{{ f.errors }}</div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="apply_btn">
                                            <button class="boxed-btn3" type="submit">Добавить документ</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ latest_coures_area_end -->
    {% endblock %}
