{% load static %}
{% load main_tags %}
<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/main2/img/logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/main2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/main2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/main2/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/main2/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/main2/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/main2/css/nice-select.css">
    <link rel="stylesheet" href="../../static/main2/css/flaticon.css">
    <link rel="stylesheet" href="../../static/main2/css/gijgo.css">
    <link rel="stylesheet" href="../../static/main2/css/animate.css">
    <link rel="stylesheet" href="../../static/main2/css/slicknav.css">
    <link rel="stylesheet" href="../../static/main2/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_top_wrap d-flex justify-content-between align-items-center">
                                <div class="text_wrap">
                                    <p><a>+79289284479 </a><a>vertex15@mail.ru</a></p>
                                </div>
                                <div class="Appointment">
                                    {% if request.user.is_authenticated %}
                                    <div class="genric-btn success medium">
                                        <a href="{% url 'educational_programs' %}">Подать заявку</a>
                                    </div>
                                </div>
                                <div class="text_wrap">
                                    <p><a href="{% url 'personal_area' %}">{{ user.username }}</a><a href="{% url 'logout' %}">Выйти</a></p>
                                    {% else %}
                                </div>
                                <div class="text_wrap">
                                    <p><a href="{% url 'register' %}">Регистрация</a><a href="{% url 'login' %}">Личный кабинет</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_wrap d-flex justify-content-between align-items-center">
                                <div class="header_left">
                                    <div class="logo">
                                        <a href="/">
                                            <img height="90px" width="306px" src="../../static/main2/img/logo_header.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="header_right d-flex align-items-center">
                                    {% block mainmenu %}
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                {% for m in menu %}
                                                <li><a  href="{% url m.url_name %}">{{m.title}}
                                                    <i class="ti-angle-down"></i></a>
                                                    {% if m.submenu %}
                                                    <ul class="submenu">
                                                        {% for sm in m.submenu %}
                                                        <li><a href="{% url sm.url_name %}">{{sm.title}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

{% block content %}
{% endblock %}
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="newsLetter_wrap">
                    <div class="row justify-content-between">
                        <div class="col-md-7">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Новостная рассылка
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Email адрес">
                                    <button type="submit">Подписаться</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Мы в социальных сетях
                                </h3>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://vk.com/">
                                                 <img src="../../static/main2/img/vkontakte.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://ok.ru/">
                                                <img src="../../static/main2/img/odnoklassniki.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/">
                                                <img src="../../static/main2/img/youtube.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://web.telegram.org/">
                                                <img src="../../static/main2/img/telegram.png">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for m in menu %}
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                {{ m.title }}
                            </h3>
                            {% for sm in m.submenu %}
                            <ul>
                                <li><a href="{% url sm.url_name %}">{{ sm.title }}</a></li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock mainmenu %}
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p>
  <script>document.write(new Date().getFullYear());</script>  | This template is made by <a href="#">White cat</a>
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end  -->


    <!-- JS here -->
    <script src="../../static/main2/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../static/main2/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../static/main2/js/popper.min.js"></script>
    <script src="../../static/main2/js/bootstrap.min.js"></script>
    <script src="../../static/main2/js/owl.carousel.min.js"></script>
    <script src="../../static/main2/js/isotope.pkgd.min.js"></script>
    <script src="../../static/main2/js/ajax-form.js"></script>
    <script src="../../static/main2/js/waypoints.min.js"></script>
    <script src="../../static/main2/js/jquery.counterup.min.js"></script>
    <script src="../../static/main2/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../static/main2/js/scrollIt.js"></script>
    <script src="../../static/main2/js/jquery.scrollUp.min.js"></script>
    <script src="../../static/main2/js/wow.min.js"></script>
    <script src="../../static/main2/js/nice-select.min.js"></script>
    <script src="../../static/main2/js/jquery.slicknav.min.js"></script>
    <script src="../../static/main2/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/main2/js/plugins.js"></script>
    <script src="../../static/main2/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="../../static/main2/js/contact.js"></script>
    <script src="../../static/main2/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../static/main2/js/jquery.form.js"></script>
    <script src="../../static/main2/js/jquery.validate.min.js"></script>
    <script src="../../static/main2/js/mail-script.js"></script>

    <script src="../../static/main2/js/main.js"></script>

</body>

</html>