{% extends 'main/base.html' %}
{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Какой то лозунг<br></h3>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'educational_programs' %}" class="boxed-btn4">Выбрать программу</a>
                                {% else %}
                                 <a href="{% url 'register' %}" class="boxed-btn3">Зарегистрироваться</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Следующий лозунг<br></h3>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'educational_programs' %}" class="boxed-btn4">Выбрать программу</a>
                                {% else %}
                                 <a href="{% url 'register' %}" class="boxed-btn3">Зарегистрироваться</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Еще один лозунг<br></h3>
                                 {% if request.user.is_authenticated %}
                                 <a href="{% url 'educational_programs' %}" class="boxed-btn4">Выбрать программу</a>
                                 {% else %}
                                 <a href="{% url 'register' %}" class="boxed-btn3">Зарегистрироваться</a>
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_4">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Снова высказывание<br></h3>
                                <a href="#" class="boxed-btn3">Зарегистрироваться</a>
                                <a href="#" class="boxed-btn4">Выбрать программу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Лозунг про учебу <br></h3>
                                <a href="#" class="boxed-btn3">Зарегистрироваться</a>
                                <a href="#" class="boxed-btn4">Выбрать программу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
        </div>
    </div>
    <!-- slider_area_end -->
  <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for p in posts %}
                        {% if p.cat.id == 2 %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{p.time_update|date:"d"}}</h3>
                                    <p>{{p.time_update|date:"E"}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ p.get_absolute_url }}">
                                    <h2>{{ p.title }}</h2>
                                </a>
                                <p>{{ p.content|truncatewords:20 }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% for p in paginator.page_range %}
                                <li class="page-item active">
                                    <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Ключевые слова'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Ключевые слова'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Поиск</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Категории</h4>
                            <ul class="list cat-list">
                                {% for c in cats %}
                                <li>
                                    <a href="{{ c.get_absolute_url }}" class="d-flex">
                                        <p>{{ c.name }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Последние новости</h3>
                        {% for p in posts %}
                        {% if p.cat.id == 2 %}
                        <div class="media post_item">
                            <img class="logo-img" src="{{ p.photo.url }}"  alt="post">
                            <div class="media-body">
                                <a href="{{ p.get_absolute_url }}">
                                    <h3>{{ p.title|truncatewords:4 }}</h3>
                                </a>
                                <p>{{p.time_update|date:"d-m-Y H:i"}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Облака тегов</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                                <li>
                                    <a href="#">love</a>
                                </li>
                                <li>
                                    <a href="#">technology</a>
                                </li>
                                <li>
                                    <a href="#">travel</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">life style</a>
                                </li>
                                <li>
                                    <a href="#">design</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <a href="gallery">
                                <h4 class="widget_title">Фото галерея</h4>
                            </a>
                                <ul class="instagram_row flex-wrap">
                                    {% for p in posts %}
                                    <li>
                                        <a href="{{ p.get_absolute_url }}">
                                            <img class="img-fluid" src="{{ p.photo.url }}" alt="">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Новостная рассылка</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Email адрес' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Подписаться</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}