{% extends 'main/base.html' %}



{% block content %}
    <!-- recent_news_area_start  -->
<div class="recent_news_area section__padding" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">{{ title }}</h3>
                        <p>Здесь можно поставить теги</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for p in posts %}
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                            <!-- slider_area_start -->
                            <div class="slider_area">
                                <div class="slider_active owl-carousel">
                                    <!-- single_carouse -->
                                    {% if p.photo %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/ single_carouse -->
                                    <!-- single_carouse -->
                                    {% if p.photo2 %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo2.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/ single_carouse -->
                                    <!-- single_carouse -->
                                    {% if p.photo3 %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo3.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/ single_carouse -->
                                    <!-- single_carouse -->
                                    {% if p.photo4 %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_4">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo4.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_4">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/ single_carouse -->
                                    <!-- single_carouse -->
                                    {% if p.photo5 %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_5">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo5.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="single_slider  d-flex align-items-center slider_bg_5">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <img class="card-img rounded-0" src="{{ p.photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/ single_carouse -->
                                </div>
                            </div>
                            <!-- slider_area_end -->
                            <span class="badge">{{ p.cat }}</span>
                        </div>
                        <div class="news_info">
                            <a href="{{ p.get_absolute_url }}">
                                <h4>{{ p.title }}</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> {{p.time_update|date:"d-m-Y H:i:s"}}</span>
                            <span> <i class="flaticon-comment"></i> 01 comments</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
           <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                    <i class="ti-angle-left"></i>
                </a>
            </li>
            {% for p in paginator.page_range %}
            <li class="page-item active">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <!-- recent_news_area_end  -->
{% endblock %}
