{% extends 'main/base.html' %}

{% block content %}
    <div class="event_details_area section__padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_event d-flex align-items-center">
                        <div class="thumb">
                            {% if prog.photo %}
                            <img src="{{ prog.photo.url }}" alt="">
                            {% endif %}
                            <div class="date text-center">
                                <span>c {{ prog.time_start|date:"j E Y" }}</span>
                                <br>
                                <span>по {{ prog.time_ending|date:"j E Y" }}</span>
                            </div>
                        </div>
                        <div class="event_details_info">
                            <div class="event_info">
                                <a href="#">
                                    <h4>{{ prog.title }}</h4>
                                 </a>
                                <p><span> <i class="flaticon-clock"></i>{{ prog.time_update|date:"H:i" }}</span> <span> <i class="flaticon-calendar"></i> {{ prog.time_update|date:"d-m-Y" }}</span> <span> <i class="flaticon-placeholder"></i>Пожарского 21</span> </p>
                            </div>
                            <p class="event_info_text">{{ prog.content }}</p>
                            <a href="#" class="boxed-btn3">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular_program_area section__padding program__page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="custom_tabs text-center">
                        <div class="nav" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Участники и порядок отбора</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Руководитель программы</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Положение о программе</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">Новости</a>
                        </div>
                    </nav>
                </div>
            </div>
            <hr>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="col-lg-6 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    {% if prog.photo2 %}
                                        <img src="{{ prog.photo2.url }}" alt="">
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                                    <a>{{ prog.selection_procedure|linebreaks }}</a>
                    <div class="col-lg-6 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    {% if prog.photo3 %}
                                        <img src="{{ prog.photo3.url }}">
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                                    <a>{{ prog.selection_procedure2|linebreaks }}</a>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="event_details_area section__padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_event d-flex align-items-center">
                                         <div class="whole-wrap">
                                            <div class="container box_1170">
                                                <div class="section-top-border">
                                                    <h3 class="mb-30">{{ prog.supervisor.last_name }} {{ prog.supervisor.first_name }} {{ prog.supervisor.patronymic }}</h3>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            {% if prog.supervisor.image %}
                                                            <img src="{{ prog.supervisor.image.url }}" alt="" class="img-fluid">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-9 mt-sm-20">
                                                            <p>{{ prog.supervisor.merit|linebreaks }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {% if prog.photo4 %}
                    <img src="{{ prog.photo4.url }}">
                    {% endif %}
                    <a>{{ prog.prog_statement|linebreaks }}</a>
                   {% if prog.photo5 %}
                    <img src="{{ prog.photo5.url }}">
                    {% endif %}
                    <a>{{ prog.prog_statement2|linebreaks }}</a>
                </div>
                <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {% if program.pdffile %}
                    <embed src="{{ prog.pdffile }}" width="700" height="500" />
                    {% else %}
                    <iframe src="" width="700" height="400"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

